<form id="login">
    <label for="username-login">username</label>
    <input type="text" id="username-login">
    <label for="password-login">password</label>
    <input type="text" id="password-login">
    <button type="submit">login</button>
</form>
<form id="signup">
    <label for="username-signup">username</label>
    <input type="text" id="username-signup">
    <label for="password-signup">password</label>
    <input type="text" id="password-signup">
    <button type="submit">signup</button>
</form>
<script src="/javascript/login.js"></script>